.wrapper {
  width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}



/* {#ddd} inner */

.top-banner__inner,
.header__inner,
.header-nav__inner {
  width: 1050px;
  margin: 0 auto;
}



/* {#ddd} top banner */

.top-banner {
  width: 100%;
  height: 50px;
  background: var(--primary);
  text-align: center;
  color: var(--white);
}

.top-banner__inner {
  height: 100%;
  position: relative;
}

.top-banner__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.top-banner__text a {
  padding: var(--spacing-xxs) var(--spacing-md);
}

.top-banner__text span {
  font-weight: bold;
}

.top-banner__close-btn {
  width: 42px;
  height: 42px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


/* {#ddd} header */

.header{
  height: 197px;
  background: var(--white);
}

.header__inner{
  height: 125px;
}

/* {#ddd} header-top */

.header-top{
  height: 125px;
  display: flex;
  flex-flow: row wrap;
  align-items:flex-end;  
  padding-bottom: var(--spacing-md);
  position: relative;
}

.header-top__inner{
  width: 100%;
  height: 60px;
  position: relative;
}

/* member */

.member{
  font-size: var(--text-xs);
  width: 178px;
  height: 31px;
  padding: var(--spacing-sm) 0 0 0;
  position: absolute;
  top: 0;
  right: -10px;
}

.member li{
  height: 19px;
  line-height: 19px;
  position: relative;
  display: inline-block;
} 

.list-divider{
  display: inline-block;
  color: var(--gray-100);
}

.member li a{
  padding: 4px 5px;
}

.member li:first-child{
  color: var(--primary);
}

.member li:last-child a::before{
  content: "";
  font-size: 0;
}

.member li img{
  margin-left: 3px;
  margin-bottom: 1px;
}


/* logo & switch */

.header__logo, .header__switch, .search{
  float: left;
}

.header__logo{
  margin-top: 9px;
}

.header__switch{
  width: 173px;
  height: 32px;
  line-height: 32px;  
  margin: 14px 63px 0 12px;
  font-size: 21px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  color: var(--gray-400);
}

.header__switch li{
  float: left;
  position: relative;
}

.header__switch li:last-child::before{
  content: "\007c";
  color: var(--gray-100);
  display: inline;
  position: absolute;
  left: -15px;
  font-size: var(--text-sm);
  font-weight: normal;
}

.header__switch li:last-child img{
  position: absolute;
  right: -12px;
  top: -4px;
}

.header__switch li.is-active{
  color: var(--primary);
}

/* order, search */

.user-order{
  width: 148px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 12px;
}

.search{
  height: 100%;
}

.search-form__inner{
  position: relative;
}

input::-ms-clear,
input::-ms-reveal{
	display:none;
  width:0;
  height:0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
	display:none;
}

.search input{
  width: 400px;
  height: 60px;
  padding: var(--spacing-sm) 56px var(--spacing-sm) var(--spacing-md);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 21px;
  position: relative;
}

.search input:focus{
  outline: none;
  border: 1px solid var(--content);
}

.search__search-btn{
  position: absolute;
  top: 12px;
  right: 15px;
}

.rearrIcon{
  width: 242px;
  height: 56px;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: 100px;
  z-index: 1000;
}

.rearrIcon input{
  width: 242px;
  height: 36px;
  margin-top: 10px;
  background: var(--gray-50);
  border: 1px solid var(--gray-50);
  border-radius: 7px;
  font-size: var(--text-xs);
}

.rearrIcon input:focus{
  background: var(--white);
}


.user-order.rearrIcon{
  width: 148px;
  margin-top: 10px;
  margin-left: 380px;
}

/* {#ddd} header-nav */

.header-nav{
  width: 100%;
  z-index: 999;
  background: var(--white);
  box-shadow: rgb(0, 0, 0, 7%) 0px 3px 4px 0px;
}

.header-nav.fixed{
  position: fixed;
  top: 0;
}

.header-nav__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-nav__inner.flexStart{
  -webkit-box-pack: start;
  justify-content: flex-start;  
}

.header-nav__inner.flexStart .main-menu{
  width: 500px;
}

/* category */

.category{
  width: 84px;
  height: 72px;
  line-height: 72px;
  font-weight: 600;
  background: url('../../assets/icons/Icon/Hamburger-black.svg') no-repeat 0px 5px;
  background-position: 0 29px;
  outline-offset: 5px;
}

.category__hamburger{
  float: left;
  margin-top: 5px;
}

.category__text{
  float: left;
  margin-left: 28px;
}

.category:hover .category__container{
  color: var(--primary);
  background: url('../../assets/icons/Icon/Hamburger.svg') no-repeat 0px 5px;
}

/* main-menu */

.main-menu{
  width: 600px;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
}

.main-menu__list{
  display: flex;
  justify-content: space-around;
}

.main-menu__list li a{
  padding: var(--spacing-sxxs) var(--spacing-xxs);
  outline-offset: 5px;
}

.main-menu__list li:hover a{
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}

.delivery-notice{
  width: 95px;
  height: 27px;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
  font-size: var(--text-xs);
  color: var(--gray-500)
}

.delivery-notice:hover{
  border: 1px solid var(--primary);
  transition: .8s;
}

.delivery-notice span{
  color: var(--primary);
}

/* sub menu */

.sub-menu{
  width: 247px;
  height: 880px;
  position: absolute;
  top: 72px;
  border: 1px solid var(--gray-200);
  background: #ffffff;
  display: none;
  z-index: 999;
}

.sub-menu__list li{
  height: 40px;
  padding: 0 0 0 var(--spacing-sm);
}

.sub-menu__list li a{
  line-height: 40px;
  display: block;
  font-weight: 600;
  text-align: left;
}

.sub-menu__list li a::before{
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  margin: 10px 8px 0 0;
  background: url('../../assets/icons/Icon/MenuIcon.svg') no-repeat center 0;
  background-size: 20px;
  float: left;
}

.sub-menu__list li:hover a::before{
  background: url('../../assets/icons/Icon/MenuIcon_p.svg') no-repeat center 0;
  background-size: 20px;
}

.sub-menu__list li:hover{
  color: var(--primary);
  background: var(--gray-100);
}

.sub-menu__list li:nth-child(2) a::before{
  background-position-y: -20px;
}
.sub-menu__list li:nth-child(3) a::before{
  background-position-y: -40px;
}
.sub-menu__list li:nth-child(4) a::before{
  background-position-y: -60px;
}
.sub-menu__list li:nth-child(5) a::before{
  background-position-y: -80px;
}
.sub-menu__list li:nth-child(6) a::before{
  background-position-y: -100px;
}
.sub-menu__list li:nth-child(7) a::before{
  background-position-y: -120px;
}
.sub-menu__list li:nth-child(8) a::before{
  background-position-y: -140px;
}
.sub-menu__list li:nth-child(9) a::before{
  background-position-y: -160px;
}
.sub-menu__list li:nth-child(10) a::before{
  background-position-y: -180px;
}
.sub-menu__list li:nth-child(11) a::before{
  background-position-y: -200px;
}
.sub-menu__list li:nth-child(12) a::before{
  background-position-y: -220px;
}
.sub-menu__list li:nth-child(13) a::before{
  background-position-y: -240px;
}
.sub-menu__list li:nth-child(14) a::before{
  background-position-y: -260px;
}
.sub-menu__list li:nth-child(15) a::before{
  background-position-y: -280px;
}
.sub-menu__list li:nth-child(16) a::before{
  background-position-y: -300px;
}
.sub-menu__list li:nth-child(17) a::before{
  background-position-y: -320px;
}
.sub-menu__list li:nth-child(18) a::before{
  background-position-y: -340px;
}
.sub-menu__list li:nth-child(19) a::before{
  background-position-y: -360px;
}
.sub-menu__list li:nth-child(20) a::before{
  background-position-y: -380px;
}
.sub-menu__list li:nth-child(21) a::before{
  background-position-y: -400px;
}
.sub-menu__list li:nth-child(22) a::before{
  background-position-y: -420px;
}